<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<description>
		</description>
		<display-name>User_Controller</display-name>
		<servlet-name>User_Controller</servlet-name>
		<servlet-class>com.streaming.controller.User_Controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Albums_details</display-name>
		<servlet-name>Albums_details</servlet-name>
		<servlet-class>com.streaming.controller.Albums_details</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Artist_details</display-name>
		<servlet-name>Artist_details</servlet-name>
		<servlet-class>com.streaming.controller.Artist_details</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Playlist_Controller</display-name>
		<servlet-name>Playlist_Controller</servlet-name>
		<servlet-class>com.streaming.controller.Playlist_Controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Crud_user</display-name>
		<servlet-name>Crud_user</servlet-name>
		<servlet-class>com.streaming.controller.Crud_user</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Add_user</display-name>
		<servlet-name>Add_user</servlet-name>
		<servlet-class>com.streaming.controller.Add_user</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Crud_album</display-name>
		<servlet-name>Crud_album</servlet-name>
		<servlet-class>com.streaming.controller.Crud_album</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Labels_Controller</display-name>
		<servlet-name>Labels_Controller</servlet-name>
		<servlet-class>com.streaming.controller.Labels_Controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Styles_actions</display-name>
		<servlet-name>Styles_actions</servlet-name>
		<servlet-class>com.streaming.controller.Styles_actions</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User_Controller</servlet-name>
		<url-pattern>/User_Controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Albums_details</servlet-name>
		<url-pattern>/Albums_details</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Artist_details</servlet-name>
		<url-pattern>/Artist_details</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Playlist_Controller</servlet-name>
		<url-pattern>/Playlist_Controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Crud_user</servlet-name>
		<url-pattern>/Crud_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Add_user</servlet-name>
		<url-pattern>/Add_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Crud_album</servlet-name>
		<url-pattern>/Crud_album</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Labels_Controller</servlet-name>
		<url-pattern>/Labels_Controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Styles_actions</servlet-name>
		<url-pattern>/Styles_actions</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
